# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment variables
.env
.env.local

# Database
*.db
*.sqlite3

# Uploads
uploads/

# IDE
.vscode/
.idea/

# Данные пользователей
/uploads/
/config/
user_data/
*.csv
*.json
*.xlsx